.heading {
  width: 100%;
  height: 5vh;
  background: var(--clr_main-1);
  &__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.5rem;
    p {
      font-family: 'Akaya Telivigala', cursive;
      color: var(--white);
      span:nth-child(1),
      span:nth-child(4) {
        color: var(--soft_green);
      }
      span:nth-child(3),
      span:nth-child(2) {
        color: var(--soft_pink);
      }
      span:nth-child(5) {
        color: var(--soft_blue);
      }
    }
  }
  &__logo {
    width: 25px;
    height: 25px;
    margin: 0 10px;
  }
}
