.color-list {
  flex: 0.8;
  min-height: 95vh;
  padding: var(--padding_global);
}
.colors {
  margin-top: 2rem;
  display: grid;
  gap: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  &__item {
    height: 180px;
    width: 180px;
    color: var(--text_dark);
    &--light {
      color: var(--white);
    }
  }
}

.generator {
  width: 60%;

  max-width: var(--max-width);
  &__form {
    display: flex;
    button {
      color: var(--clr_main-3);
    }
  }
  &__input {
    width: 100%;
  }
  &__input::placeholder {
    color: var(--clr_main-3);
  }
  &__input,
  &__submit {
    padding: 0.75rem 1.25rem;
    border: none;
    letter-spacing: var(--spacing);
    font-size: 1.5rem;
    background: transparent;
    color: var(--bg-main);
    border-bottom: 3px solid var(--clr_main-3);
    transition: all 0.5s ease-out;
    outline: none;
  }

  &__input:focus {
    border-bottom: 3px solid var(--soft_green);
  }
  &__input:focus + button {
    border-bottom: 3px solid var(--soft_green);
    color: var(--soft_green);
  }
  &__input--error:focus {
    border-bottom: 3px solid var(--soft_red);
  }
  &__input--error:focus + button {
    border-bottom: 3px solid var(--soft_red);
    color: var(--soft_red);
  }
}
