/*
Main styles
*/
.color-list {
  @include main-right();
  &__save {
    @include save-button(var(--clr_main-1));
  }
  &__save:hover {
    background: var(--clr_main-1);
    color: var(--white);
  }
}

/*
Color list
*/
.colors {
  margin-top: 2rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

  &__item {
    @include align-center();
    height: 180px;
    width: 180px;
    position: relative;
    border: 1px solid var(--text_dark);
    color: var(--text_dark);
    &--light {
      color: var(--white);
    }
  }
  &__copy {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      outline: none;
      border: none;
      text-decoration: none;
      background: transparent;
      font-size: 1.25rem;
      transition: filter 0.3s ease;
    }
    button:hover {
      filter: contrast(0.7);
    }
    p {
      position: absolute;
      transform: translateY(-100%);
      color: var(--text_dark);
      @include align-center();
      min-width: 95px;
      top: 0;
      right: -20px;
      padding: 5px;
      border-radius: 10px;
      font-weight: 700;
      text-transform: uppercase;
      display: none;
      background: var(--soft_yellow);
    }
  }
  &__success {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    @include align-center();
    padding: 5px;
    border-radius: 50%;
    font-size: 1.5rem;
    background: var(--white);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    svg {
      color: var(--soft_green);
    }
  }
  &__hex {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.25rem;
  }
  &__percent {
    font-size: 2.5rem;
    font-weight: 700;
  }
}
/*
Color generator form
*/
.generator {
  width: 60%;
  position: relative;
  max-width: var(--max-width);
  overflow: hidden;
  &__error {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    @include align-center();
    padding: 10px;
    border-radius: 10px;
    color: var(--soft_red);
    background: var(--soft_yellow);
    font-weight: 700;
    transition: transform 0.35s linear;
    svg {
      margin-left: 10px;
      font-size: 20px;
    }
  }
  &__form {
    display: flex;
    button {
      color: var(--clr_main-3);
    }
  }
  &__input {
    width: 100%;
  }
  &__input::placeholder {
    color: var(--clr_main-3);
  }
  &__input,
  &__submit {
    padding: 0.75rem 1.25rem;
    border: none;
    letter-spacing: var(--spacing);
    font-size: 1.5rem;
    background: transparent;
    color: var(--bg-main);
    border-bottom: 3px solid var(--clr_main-3);
    transition: all 0.5s ease-out;
    outline: none;
  }

  &__input:focus {
    border-bottom: 3px solid var(--soft_green);
  }
  &__input:focus + button {
    border-bottom: 3px solid var(--soft_green);
    color: var(--soft_green);
  }
  &__input--error:focus {
    border-bottom: 3px solid var(--soft_red);
  }
  &__input--error:focus + button {
    border-bottom: 3px solid var(--soft_red);
    color: var(--soft_red);
  }
}
/*
Modal
*/
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
  &--active {
    z-index: 1;
    opacity: 1;
  }
}
.save-color {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--clr_main-3);
  height: 200px;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  margin-top: 1rem;
  z-index: 2;
  &__container {
    position: relative;
    width: 100%;
    height: 100%;
    @include align-center();
    flex-direction: column;
  }
  &__title {
    color: var(--white);
    font-size: 2rem;
    span {
      color: var(--soft_pink);
    }
  }
  &__form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--white);
  }
  &__input {
    margin-top: 1rem;
    padding: 0.5rem;
    outline: none;
    border-radius: 15px;
  }
  &__input::placeholder {
    padding: 0.15rem;
  }

  &__submit {
    @include save-button(var(--white));
  }
  &__submit:hover {
    color: var(--clr_main-1);
    background: var(--white);
  }
  &__close {
    background: transparent;
    font-size: 2.115rem;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    transition: color 0.3s ease-out;
    color: var(--soft_yellow);
  }
  &__close:hover {
    color: var(--clr_main-2);
  }
}
